body{
    background-color: rgb(35, 35, 148);
    display: grid;
    justify-content: center;
    align-items: center;
}
#nr1, #nr2{
    padding: 10px;
    font-size: 20px;
}
#op{
    padding: 10px;
    font-size: 20px;
}
#ansHere{
    border: 2px solid black;
    padding: 5px;
}